/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
}

.dark {
  background-color: #05283a;
  color: #fcfbf9;
}

.light {
  background-color: #fcfbf9;
  color: #05283a;
}

button {
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  padding: 4px 8px 4px 8px;
  color: #05283a;
  background-color: #fcfbf9;
}

.main-button {
  background-color: #5ca33e;
}
