.total-breweries {
    padding-right: 50px;
}


.brewery-box {

        display: flex;
        border-style: solid;
        border-width: 1px;
        border-radius: 1px;
        width: 350px;
        flex-direction: column;
        align-items: center;
        padding-left: 10px;
        background-color: rgba(201, 193, 117, 0.782);

}

img {
    width: 150px;
    height: 150px
}

ul {
    list-style-type: none;
  }

  .brewery-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }


form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
}

input {
    margin: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    margin-right: 30px;

}

label {
    color: rgb(111, 68, 220);
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-top: 5px;
}

#breweriespage {
    display: flex;
}
